@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
  src: url('/fonts/inter-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/lora-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/dancing-script-latin.woff2') format('woff2');
}

@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url('/fonts/red-hat-text-latin.woff2') format('woff2');
}
